* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'HelveticaNeue', sans-serif;
  background-color: #f5f5f5 !important;
  overflow-x: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #8DA9C4;
  /* border-radius: 20px; */
}

.logo {
  font-size: 1.5em;
}

.italic {
  font-style: italic;
  color: #333;
}

.bold {
  font-weight: bold;
  color: #000;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav ul li a {
  text-decoration: none;
  color: #000;
  font-size: 1em;
}

.nav ul li a:hover {
  text-decoration: underline;
}



